
.sidebar-wrapper{
    background-color: #35a3dc;
    margin-top: 1px;
    display: inline-block;
    
    border-radius: 20px;
   
}
.sidebar-wrapper ul li{
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px solid white;
   
}
.sidebar-wrapper ul li a{
    color:white;
    font-size: 18px;
    transition: .5s;
    
    
}
.sidebar-wrapper ul li a:hover{
    text-decoration: none;
    margin-left: 15px;
    background:black;
    border-radius: 20px;
    padding:5px 5px;
}
.information-wrap{
    display: flex;
   
}
.slider{
    margin-left: 20px;
}
.slider img{
    width:100%;
    height: 480px;
    
}
.slick-prev{
    background:black !important;
    border-radius: 10px;
    border-radius: 10px;
}
.slick-next,.slick-prev:hover{
    background:black;
}
.slick-next{
    background:black !important;
    border-radius: 10px;

}

@media screen and (max-width:992px){
    .information-wrap{
        display: block;
    }
    .slider{
        margin-left: 0;
    }
}