@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
.reviewItem-section{
    font-family: 'Philosopher', sans-serif;
    
}
.review-item{
    display: flex;
    
    
    
}
.review-item div{
    display: flex;
    padding:5px;
    
}
.review-item-product-detail{
    margin-left: 20px;
}
.review-item-product-detail span{
    font-size: 20px;
    color:red;
    font-weight: bold;
}