@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
.review-wrap{
    font-family: 'Philosopher', sans-serif;
}
.review-detail{
    display: flex;
}
.cartBtn{
    background-color: lightblue;
    text-align: center;
}
.cart-btn-wrap{
    padding-bottom: 40px;
    text-align: center;
}
