@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
.card{
    height:710px;
    background:none;
    border:none;
    transition: .5s;
    border-radius:50px;
    padding:40px !important;
    width:21rem;
    text-align: center;
}
.productName{

    height: 48px;
    overflow: hidden;
}
.tooltip-text{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.tooltip-text span{
    color:whitesmoke;
    font-size: 20px;
    text-transform: capitalize;
    color:#17a2b8;
}
.price-bottom{
    position: relative;
}
.price-bottom::after{
    content: "";
    position: absolute;
    width:90px;
    height:5px;
    background:#17a2b8;
    top:27px;
    left:0;
    border-radius: 15px;
    animation: priceBottom 3s infinite;
}
@keyframes priceBottom{
    0%,100%{
        width:0;
        opacity: 1;
    }
    50%{
        width:90px;
        opacity:0;
    }
    
}
.card-btn {
    border:none;
    background:none;
    
}
.card-btn.button{
   width:180px;
   border-radius: 15px;
   font-size: 16px;
   
}
.card:hover{
    box-shadow: 10px 10px 20px lightgray,
                -10px -10px 20px lightgray;
}
.detail-section{
    font-family: 'Signika', sans-serif;
    display: flex;
    margin:50px auto;
    align-items: center;
   
}

.detail-img{
    width:300px;
    display: block;
    border-radius: 60px;
    
}
.info-section{
    margin-top:150px;
    margin-left: 50px;
}
.title-txt{
    font-weight: bold;
    font-size: 22px;
    color:blue;
    margin-bottom: 15px;
}
.cart-btn{
    width: 145px;
    margin-top: 5px;
    
}
@media screen and (max-width:1180px){
    
    .card{ 
        width:25rem;
    }
    .info-section{
        margin-top:0px;
        margin-left: 50px;
    }
}
@media screen and (max-width:992px){
    .card{
        margin: 20px !important;
        width:24rem;
    }
    .cart-btn{
        width: 145px;
        margin-left: 5px;      
    }

}
@media  screen and (max-width:768px){
    .card{
        height:940px;
        width:100%;  
    } 
    
    .cart-btn{
        width: 145px;
        margin-left: 5px;  
        margin-top: 0;    
    }
    .info-section{
        margin-top:0px;
        margin-left: 50px;
    }
}
@media  screen and (max-width:480px){
    .detail-section{
        font-family: 'Signika', sans-serif;
        display: block;
        margin:50px auto;
        align-items: center;
        text-align: center;
    }
    .detail-img{
        width:300px;
        display: block;
        border-radius: 60px;
        margin: 0 auto;
    }
    .info-section{
        margin-top:0px;
        margin-left: 0px;
    }
    .card{
        height:750px;
        width:100%;
    } 
    .product-container{
        margin-right:0 auto;
    }
    .cart-btn{
        width: 133px;
        margin-top: 5px; 
        margin-left: 0;
         
    }
}
@media  screen and (max-width:360px){
    .card{
        height:630px;
        width:100%;

    } 
    .info-section{
        margin-top:50px;
        margin-left: 0px;
    }
}